rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{recipeId} {
      allow read, write: if request.auth != null;
      match /notes/{noteId} {
        allow read, write: if request.auth != null;
      }
    }
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /pendingNotes/{noteId} {
      allow read, write: if request.auth != null;
    }
  }
}
